.forget-password-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ddd;;
    background-blend-mode: screen;    flex-direction: column;
    position: relative;
}

/* .wave{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 50%;
} */

.wave{
    width: 100%;
    position: fixed;
    top: 80px;
}