.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 300px;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
